<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.haoyc.dubbo.hmily.account.db.dao.BalanceAccountMapper">
  <resultMap id="BaseResultMap" type="io.haoyc.dubbo.hmily.account.db.object.BalanceAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="rmb_balance" jdbcType="DECIMAL" property="rmbBalance" />
    <result column="usd_balance" jdbcType="DECIMAL" property="usdBalance" />
    <result column="freezed_rmb_balance" jdbcType="DECIMAL" property="freezedRmbBalance" />
    <result column="freezed_usd_balance" jdbcType="DECIMAL" property="freezedUsdBalance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, rmb_balance, usd_balance, freezed_rmb_balance, freezed_usd_balance
  </sql>
  <select id="selectByExample" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from balance_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from balance_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from balance_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccountExample">
    delete from balance_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccount">
    insert into balance_account (id, user_id, rmb_balance, 
      usd_balance, freezed_rmb_balance, freezed_usd_balance
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{rmbBalance,jdbcType=DECIMAL}, 
      #{usdBalance,jdbcType=DECIMAL}, #{freezedRmbBalance,jdbcType=DECIMAL}, #{freezedUsdBalance,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccount">
    insert into balance_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="rmbBalance != null">
        rmb_balance,
      </if>
      <if test="usdBalance != null">
        usd_balance,
      </if>
      <if test="freezedRmbBalance != null">
        freezed_rmb_balance,
      </if>
      <if test="freezedUsdBalance != null">
        freezed_usd_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="rmbBalance != null">
        #{rmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="usdBalance != null">
        #{usdBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedRmbBalance != null">
        #{freezedRmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedUsdBalance != null">
        #{freezedUsdBalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccountExample" resultType="java.lang.Long">
    select count(*) from balance_account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update balance_account
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.rmbBalance != null">
        rmb_balance = #{record.rmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.usdBalance != null">
        usd_balance = #{record.usdBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.freezedRmbBalance != null">
        freezed_rmb_balance = #{record.freezedRmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="record.freezedUsdBalance != null">
        freezed_usd_balance = #{record.freezedUsdBalance,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update balance_account
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      rmb_balance = #{record.rmbBalance,jdbcType=DECIMAL},
      usd_balance = #{record.usdBalance,jdbcType=DECIMAL},
      freezed_rmb_balance = #{record.freezedRmbBalance,jdbcType=DECIMAL},
      freezed_usd_balance = #{record.freezedUsdBalance,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccount">
    update balance_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="rmbBalance != null">
        rmb_balance = #{rmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="usdBalance != null">
        usd_balance = #{usdBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedRmbBalance != null">
        freezed_rmb_balance = #{freezedRmbBalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedUsdBalance != null">
        freezed_usd_balance = #{freezedUsdBalance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.haoyc.dubbo.hmily.account.db.object.BalanceAccount">
    update balance_account
    set user_id = #{userId,jdbcType=INTEGER},
      rmb_balance = #{rmbBalance,jdbcType=DECIMAL},
      usd_balance = #{usdBalance,jdbcType=DECIMAL},
      freezed_rmb_balance = #{freezedRmbBalance,jdbcType=DECIMAL},
      freezed_usd_balance = #{freezedUsdBalance,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>